
<%- include('templates/header')-%>

<h1><%= title %></h1>
<p>Saldo Anda Sekarang : <%= saldo.nominalSaldo %></p>

<div class="text-center">
    <a href="/topup/<%= saldo.iduser %>" class ="btn btn-primary">Top Up</a> &nbsp; 
    <a href="/transfer/<%= saldo.iduser %>" class ="btn btn-primary">Transfer</a> &nbsp; 
    <a href="/history/<%= saldo.iduser %>" class ="btn btn-primary">History</a> &nbsp; 
    <br>
</div>

<%- include('templates/footer')-%>